absl-py @ file:///C:/ci/absl-py_1603889282672/work
aiohttp==3.7.2
aiohttp-apispec==2.2.1
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
apispec==3.3.2
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astor==0.8.1
astroid @ file:///C:/ci/astroid_1592495992870/work
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1592412889138/work
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt @ file:///C:/ci/bcrypt_1597936262193/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bitarray @ file:///C:/ci/bitarray_1603210414338/work
bkcharts==0.2
blaze==0.11.3
bleach==3.1.5
bokeh @ file:///C:/ci/bokeh_1603282469084/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
CacheControl @ file:///tmp/build/80754af9/cachecontrol_1594058963164/work
cachetools==4.1.1
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600681203656/work
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
clyent==1.2.2
cmake==3.18.2.post1
colorama==0.4.3
comtypes==1.1.7
conda==4.9.1
conda-build==3.17.7
conda-package-handling @ file:///C:/ci/conda-package-handling_1603018126209/work
conda-verify==3.4.2
configobj==5.0.6
contextlib2==0.6.0.post1
contextvars==2.4
cryptography @ file:///C:/ci/cryptography_1601046909128/work
cycler==0.10.0
Cython @ file:///C:/ci/cython_1594834059511/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1594156306305/work
dataclasses==0.6
datashape==0.5.4
debtcollector==2.2.0
decorator==4.4.2
deepaas==1.3.0
defusedxml==0.6.0
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
dill==0.3.2
distlib @ file:///C:/ci/distlib_1600710130804/work
distributed @ file:///C:/ci/distributed_1602083990969/work
dlib==19.21.0
docutils==0.16
dominate==2.6.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
filterpy==1.4.5
fire==0.3.1
flake8==3.8.3
Flask==1.1.2
Flask-Cors @ file:///tmp/build/80754af9/flask-cors_1598886879133/work
fsspec==0.7.4
future==0.18.2
gast==0.3.3
gevent==1.4.0
glob2==0.7
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet @ file:///C:/ci/greenlet_1600874077257/work
grpcio==1.32.0
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
imgaug==0.4.0
immutables @ file:///C:/ci/immutables_1592426094604/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1593431910144/work
imutils==0.5.3
intervaltree @ file:///tmp/build/80754af9/intervaltree_1594361675072/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipyparallel==6.3.0
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.13
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///C:/ci/jedi_1596472773465/work
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-launcher @ file:///tmp/build/80754af9/jupyterlab_launcher_1601490670252/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
Keras==2.4.3
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.2
kiwisolver @ file:///C:/ci/kiwisolver_1603996656077/work
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
lxml @ file:///C:/ci/lxml_1603216357477/work
Markdown @ file:///C:/ci/markdown_1603216561566/work
MarkupSafe==1.1.1
marshmallow==3.9.0
matplotlib @ file:///C:/ci/matplotlib-base_1592846129657/work
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.4.0
mpmath==1.1.0
msgpack==1.0.0
msgpack-numpy==0.4.7.1
multidict==5.0.0
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601896775581/work
nbformat==5.0.7
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
netaddr==0.8.0
netifaces==0.10.9
netron==4.5.6
networkx @ file:///tmp/build/80754af9/networkx_1594377231366/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook==5.2.2
numba==0.51.2
numexpr==2.7.1
numpy==1.18.5
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
oauthlib==3.1.0
odo==0.5.1
olefile==0.46
opencv-contrib-python==4.4.0.44
opencv-python==3.4.5.20
openpyxl @ file:///tmp/build/80754af9/openpyxl_1594167385094/work
opt-einsum==3.3.0
oslo.config==8.3.2
oslo.context==3.1.1
oslo.i18n==5.0.1
oslo.log==4.4.0
oslo.serialization==4.0.1
oslo.utils==4.7.0
packaging==20.4
pandas @ file:///C:/ci/pandas_1602088210462/work
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pbr==5.5.1
pep8==1.7.1
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1594299032796/work
pkginfo==1.6.0
ply==3.11
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil @ file:///C:/ci/psutil_1598352185190/work
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrypto==2.6.1
pycurl==7.43.0.6
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pyflakes==2.2.0
Pygments==2.6.1
pylint @ file:///C:/ci/pylint_1598624066230/work
PyNaCl @ file:///C:/ci/pynacl_1595009245871/work
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1600141799440/work
PySocks==1.7.1
pytest==3.2.5
python-dateutil==2.8.1
python-dotenv==0.15.0
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-magic==0.4.18
pytz==2020.1
PyWavelets @ file:///C:/ci/pywavelets_1601658410782/work
pywin32==227
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
regex @ file:///C:/ci/regex_1602770568056/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
rfc3986==1.4.0
rope==0.17.0
rsa==4.6
ruamel-yaml==0.15.87
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598358870446/work
scipy==1.4.1
seaborn==0.10.1
Shapely==1.7.1
simplegeneric==0.8.1
simplejson==3.17.2
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
six==1.15.0
sklearn==0.0
slidingwindow==0.0.14
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1594223420021/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1593446360927/work
spyder==3.2.8
SQLAlchemy @ file:///C:/ci/sqlalchemy_1603401797590/work
statsmodels==0.12.0
stevedore==3.2.2
svgwrite==1.4
swing==0.0.4
sympy @ file:///C:/ci/sympy_1598358389211/work
tables==3.6.1
tabulate==0.8.7
tblib==1.6.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
tensorflow-gpu-estimator==2.3.0
tensorflow-hub==0.9.0
tensorflowjs==2.7.0
tensorpack @ git+https://github.com/ppwwyyxx/tensorpack.git@22f37f9aa646e48ce0066da985e29837be9b72cb
termcolor==1.1.0
testpath==0.4.4
tf-bodypix==0.3.1
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2020.10.1
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz==0.10.0
torch==1.7.0+cu101
torchaudio==0.7.0
torchfile==0.1.0
torchvision==0.8.1+cu101
tornado==5.1.1
tqdm @ file:///tmp/build/80754af9/tqdm_1593446365756/work
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1592847887441/work
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.9
visdom==0.1.8.9
waitress==1.4.4
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webargs==5.5.3
webencodings==0.5.1
websocket-client @ file:///C:/ci/websocket-client_1602006645939/work
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.9
xlwings==0.20.8
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarl==1.6.2
youtube-dl==2020.9.20
zict==2.0.0
zipp==3.1.0
